:root {
    --rdp-cell-size: 45px !important;
    --rdp-accent-color: #FFF2F2 !important;
    --rdp-background-color: #FFF2F2 !important;
    /* Switch to dark colors for dark themes */
    --rdp-accent-color-dark: white !important;
    --rdp-background-color-dark: transparent !important;
    /* Outline border for focused elements */
    --rdp-outline: 0px solid var(--rdp-accent-color) !important;
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 0px solid rgba(0, 0, 0, 0.75) !important;
}

.rdp {
    font-family: 'Hind Madurai', sans-serif !important;
}

.rdp-caption_label {
    font-weight: normal !important;
    font-size: 18px !important;
    letter-spacing: 1px;
}

.rdp-button_reset.rdp-button.rdp-nav_button{
    border-radius: 5px !important;
    padding: 0px !important;
    width: 30px !important;
    height: 30px !important;
    transition: 0.2s;
}

.rdp-button_reset.rdp-button.rdp-nav_button:hover{
    color: black !important;
    border-radius: 5px !important;
    padding: 0px !important;
    width: 30px !important;
    height: 30px !important;
}


.rdp-nav_icon {
    transform: scale(0.7);
}

.rdp-button:not([disabled]):hover {
    transition: 0.2s;
    
}

.rdp-head_cell {
    color: rgb(187, 187, 187) !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.rdp-day_selected:not([disabled]),
.rdp-day_selected:focus:not([disabled]),
.rdp-day_selected:active:not([disabled]),
.rdp-day_selected:hover:not([disabled]) {
    color: #f76161 !important;
    font-weight: bold;
    border-radius: 5px !important;
}

body {
    font-family: 'Hind Madurai', sans-serif;
}

.preview {
    width: 96px;
    height: 96px;
    border-radius: 100%;
}

.listBt,
.listOp,
.listOps,
.listOpActive {
    width: 100%;
}

.listOps {
    position: absolute;
    z-index: 1
}

.listBt:focus {
    outline: none;
    border: 2px solid #44a5ff;
    border-radius: 8px;
    box-sizing: border-box;
}

.listOps:focus {
    outline: none;
}

.listOpActive {
    background: #2091fe
}

/* set calendar */
.dayCell {
    border: 2px solid #D9F2EF!important
}


.view {
   border-radius: 10px;
   overflow: auto;
   border: none !important;
}

.event {
    padding-block: 5px;
    padding-inline: 10px;
    font-size: 16px!important;
    border-radius: 6px !important;
    cursor: pointer;
}
.allDay {
   font-weight: bold;
   color: #009883;
}

.dayHeader {
    background-color: #D9F2EF;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-block: 10px!important;
    border: none!important;
    color: #00A991;
}

.dayHeader--dark {
    background-color: #D9F2EF;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-block: 10px!important;
    border: none!important;
    color: black;
}

.fc-toolbar-title {
    font-size: 20px !important;
    font-weight: bold;
    color: rgb(192, 192, 192);
}


.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #D9F2EF!important
}

.fc-scrollgrid.fc-scrollgrid-liquid {
    border: 2px solid #D9F2EF!important;
    overflow: hidden;
}

.moreLink {
    background-color: red!important;
}
.noEvent {
    background-color: red !important;
}
.slotLane {
   height: 40px !important;

}
.slotLabel {
   
}
.weekNumber {
    background-color: red !important;
    color: red !important;

}
.nowIndicator {
    background-color: red !important;
    color: red !important;
}

td.fc-day-today {
 background-color: #d9f2ef4f !important;
}

.fc-list-day-cushion {
    background-color: #D9F2EF !important;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-block: 10px!important;
    border: none!important;
    color: #00A991;
}

.fc-timegrid-axis {
    background: #D9F2EF;
}

.fc-timegrid-slot {
    background: white
}

.fc-timegrid-axis-frame {
    background: white
}

.fc-list-day-side-text {
    font-size: 16px;
    color: black;
    margin-top: 4px;
}

.fc-daygrid-event {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/* css for select many */
.css-1s2u09g-control{
    border: 1px solid #E2E8F0!important;
    min-height: 2.5rem!important;
}

/* style for select */
.select-dark > div{
    border-radius: 5px;
    border: 1px solid rgb(105, 105, 105) !important;
    background: #ffffff10
}

.select-light > div{
    border-radius: 5px;
    border: 1px solid rgba(48, 48, 48, 0.161) !important;
    background: #ffffff10
}

